@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100vw;
    min-height: 100vh;
}

/*card1 starts*/
#card1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card1 .card1{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 2px solid rgb(109, 109, 109);
    text-align: center;
    transition: .5s;
}
#card1 .card1:hover{
    height: 450px;
}
#card1 .card1 img{
    width: 250px;
    height: 250px;
}
#card1 .card1 .preview .info{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#card1 .card1 .preview h1{
    font-family: lemon;
    font-size: 1.3rem;
    color: rgb(110, 110, 110);
}
#card1 .card1 .preview .info .stars *{
    color: rgb(110, 110, 110);
}
#card1 .chooses{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
}
#card1 .chooses .colors,.chooses .numbers{
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#card1 .chooses .colors div:nth-child(1){
    background-color: rgb(209, 24, 24);
}
#card1 .chooses .colors div:nth-child(2){
    background-color: rgb(29, 189, 29);
}
#card1 .chooses .colors div:nth-child(3){
    background-color: rgb(216, 150, 27);
}
#card1 .chooses .colors div:nth-child(4){
    background-color: rgb(36, 36, 196);
}
#card1 .chooses .colors div:nth-child(5){
    background-color: rgb(218, 218, 16);
}
#card1 .chooses .colors div.active{
    border: 4px solid black;
}
#card1 .chooses .colors div{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}
#card1 .chooses .numbers div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon;
    font-size: 1rem;
    width: 35px;
    height: 35px;
    border: 1px solid black;
}
#card1 .chooses .numbers div.active{
    border: 3px solid rgb(109, 109, 109);
    color: rgb(109, 109, 109);
    transform: scale(1.1);
}
/*card1 ends*/

/*card2 style starts*/
#card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#card2 .box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060c21;
    margin: 40px;
}
#card2 .box .glass{
    position: absolute;
    top: 0;left: 0;
    width: 50%;height: 100%;
    display: block;
    background-color: rgba(255,255,255,.1);
    pointer-events: none;
}
#card2 .box:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: #fff;
    z-index: -1;
}
#card2 .box:after{
    content: '';
    position: absolute;
    top: -2px;left: -2px;
    bottom: -2px;right: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(40px);
}
#card2 .box:nth-child(1):before,#card2 .box:nth-child(1):after{
    background: linear-gradient(235deg,rgb(48, 117, 181),#fff,rgb(255, 0, 0));
}
#card2 .box:nth-child(2):before,#card2 .box:nth-child(2):after{
    background: linear-gradient(235deg,rgb(255, 0, 204),#fff,rgb(0, 255, 38));
}
#card2 .box:nth-child(3):before,#card2 .box:nth-child(3):after{
    background: linear-gradient(235deg,rgb(255, 255, 0),#fff,rgb(162, 0, 255));
}
#card2 .box .content{
    padding: 20px;
    color: #fff;
}

/*card2 style ends*/

/*card3 style starts*/
#card3 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,#ffaf00,#bb02ff);
    background-attachment: fixed;
}
#card3.container{
    position: relative;
    max-width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#card3.container .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}
#card3.container:hover .card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
#card3.container .card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
#card3.container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: circle(180px at center 0);
    text-align: center;
}
#card3.container .card .circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
#card3.container .card .content{
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding-bottom: 20px;
}
#card3.container .card .content p{
    color: #666;
    margin: 10px;
}
#card3.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}
#card3.container .card:nth-child(1) .circle,#card3.container .card:nth-child(1) a{
    background-color: #ffaf00;
}
#card3.container .card:nth-child(2) .circle,#card3.container .card:nth-child(2) a{
    background-color: #ff0026;
}
#card3.container .card:nth-child(3) .circle,#card3.container .card:nth-child(3) a{
    background-color: #00f815;
}

/*card3 style ends*/

/*card4 style starts*/
#card4 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card4{
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ebf5fc;
    padding: 40px 0 ;
}
#card4 .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}
#card4 .card .box{
    position: absolute;
    top: 20px;left: 20px;
    right: 20px;bottom: 20px;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#card4 .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
#card4 .card .box .content{
    padding: 20px;
    text-align: center;
}
#card4 .card .box .content h2{
    position: absolute;
    top: -10px;right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.02);
    transition: 0.5s;
    pointer-events: none;
}
#card4 .card:hover .box .content h2{
    color: rgba(0,0,0,0.05);
}
#card4 .card .box .content h3{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
#card4 .card:hover .box .content h3,#card4 .card:hover .box .content p{
    color: #fff;
}

#card4 .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
#card4 .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
#card4 .card:hover .box .content a{
    background-color: #ff568f;
}

/*card4 style ends*/


/*card5 style starts*/
#card5 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16384c;
}
#card5 .container{
    position: relative;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
#card5 .container .card{
    max-width: 300px;
    height: 250px;
    position: relative;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 200px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}
#card5 .container .card:hover{
    height: 420px;
}
#card5 .container .card .imgbox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    margin: auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#card5 .container .card .imgbox img{
    max-width: 100%;
    border-radius: 5px;
}
#card5 .container .card .content{
    position: relative;
    padding: 10px 15px;
    margin-top: -140px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#card5 .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 0.3s;
}
/*card5 style ends*/

/*card6 style starts*/
#card6 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card6{
    background-color: #151320;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card6 .cards{
    width: 1100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
#card6 .cards .card{
    max-width: 400px;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#card6 .cards  .card .container{
    position: relative;
    background-color: #1c1b29;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#card6 .cards img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
#card6 .container::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
#card6 .card1 > .container::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    opacity: 0.5;
}
#card6 .details{
    padding: 20px 10px;
}
#card6 .details > h3{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
#card6 .details > p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
/*card6 style ends*/

/*card7 style starts*/
#card7 *{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
#card7{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151523;
}
#card7::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
#card7::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}
#card7 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
#card7 .container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}
#card7 .container .card .content{
    padding: 20px;
    transition: 0.5s;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
}
#card7 .container .card:hover .content{
    transform: translateY(0);
    opacity: 1;
}

#card7 .container .card .content h2{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
}
#card7 .container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    -ms-zoom-animation: 1;
}
#card7 .container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
#card7 .container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

i{
    color: #000;
}
/*card7 style ends*/

/*card8 style starts*/
#card8 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card8{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card8 .container{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(72, 72, 72);
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#card8 .container .card{
    position: relative;
    width: 90vw;
    height: 60vw;
    max-width: 300px;
    max-height: 200px;
    max-width: 300px;
    margin: 1rem 2rem;
}
#card8 .container .card .imgbox{
    transition: 0.5s;
    position: absolute;
    top: 0;left: 0;
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    z-index: 1;
    transition: 0.5s;
}
#card8 .container .card .imgbox::after{
    content: attr(data-text);
    position: absolute;
    font-weight: 800;
    font-size: 150%;
    font-family: lemon;
    top: 75%;
    color: rgba(255,255,255,0.4);
}    
#card8 .container .card:hover .imgbox::after{
    visibility: hidden;
}
#card8 .container .card:hover .imgbox{
    position: absolute;
    left: -50px;
    top: calc((50% - 50px));
    width: 100px;
    height: 100px;
    border-radius: 0;
    background: linear-gradient(135deg,rgb(255, 43, 223),rgb(228, 228, 14));
}
#card8 .container .card .content{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #fff;
    border-radius: 1rem;
    padding: 10px 10px 10px 60px;
}
#card8 .container .card .content h2{
    color: rgb(255,43,233);
    font-size: 1.5em;
}
#card8 .container .card .content p{
    font-weight: 400;
    font-size: 0.85em;
    margin-bottom: 0.5rem;
}
#card8 .container .card .content a{
    text-decoration: none;
    color: rgb(255,43,233);
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border: 2px solid rgb(255,43,233);
}
#card8 .container .card .content a:hover{
    background-color: rgb(255,43,233);
    color: #fff;
}

section{
    overflow-x: hidden;
}


#card8 .container .card .imgbox img{
    filter: invert(1);
    max-width: 80px;
    width: 70%;
}

@media (max-width:430px) {
    #card8 .container .card:hover .imgbox{
        width: 100%;
        height: 50%;
        left: 0;
        top: 0;
        transition: 1s;
        border-radius: 1rem 1rem 0 0;
    }
    #card8 .container .card:hover{
        top: 0;left: 0;
        height: 120vw;
        max-height: 400px;
    }
    #card8 .container .card:hover .content{
        top: 50%;
        height: 50%;
        border-radius: 0 0 1rem 1rem;
    }

}
/*card8 style ends*/

/*card9 style starts*/
#card9 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
#card9{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card9 .container{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    flex-wrap: wrap;
}
#card9 .container .card{
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg,rgb(52, 52, 52),rgb(99, 99, 99),rgb(52, 52, 52));
    border-radius: 1rem;
}
#card9 .container .card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
#card9 .container .card:hover img{
    opacity: 0.3;
}
#card9 .container .card .content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
#card9 .container .card .content h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
#card9 .container .card .content p{
    color: rgba(0,0,0);
    font-weight: 500;
}
#card9 .container .card .content a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.4rem 1rem;
}
#card9 .container .card .content{
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 100%;
}
#card9 .container .card:hover .content{
    top: 0;
    opacity: 1;
}
#card9 .container .card .imgbox::after{
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-city);
    position: absolute;
    bottom: 0;left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    background-color: rgb(99,99,99);
    z-index: 2;
    font-size: 1.5em;
    color: rgb(30,30,30);
    text-align: center;
    font-weight: 600;
    border-radius: 1rem 1rem 0 0;
}
#card9 .container .card:hover .imgbox::after{
    opacity: 0;
}
@media (max-width:400px) {
    #card9 .container .card .content h2{
        font-size: 1.3em;
    }
    #card9 .container .card .content p{
        font-size: 0.8em;
    }
    #card9 .container .card .content a{
        font-size: 1em;
    }
}
/*card9 styles ends*/

/*card10 style starts*/
#card10 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#card10{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card10 .container{
    width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#card10 .container .card{
    position: relative;
    width: 90%;
    max-width: 300px;
    background-color: #000;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}
#card10 .container .card::before{
    content: '';
    transition: 0.5s;
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg,rgb(255, 195, 30),rgb(185, 0, 132),rgb(96, 14, 237));
    z-index: 0;
}
#card10 .container .card:hover::before{
    height: 100%;
}
#card10 .container .card *{
    z-index: 2;
}
#card10 .container .card h2{
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
#card10 .container .card h3{
    color: rgb(239, 239, 239);
    font-size: 1.3em;
}
#card10 .container .card p{
    text-align: center;
    color: rgb(227, 227, 227);
    font-weight: 500;
    line-height: 1.2em;
}
#card10 .imgbox{
    margin: 1rem 0;
    position: relative;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: linear-gradient(45deg,rgb(255, 195, 30),rgb(185, 0, 132),rgb(96, 14, 237));
}
#card10 .card:hover .imgbox{
    background: #000;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
#card10 .imgbox img{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    border-radius: 50%;
}
#card10 .social{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#card10 .social img{
    margin-top: 1rem;
    filter: invert(1);
    width: 30px;
}
#card10 .social img:hover{
    transform: scale(1.1);
}
/*card10 style ends*/

/*card11 style starts*/
#card11 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#card11{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgb(74, 140, 239),rgb(74, 118, 239) 50%,#fff 50% ,#fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card11 .card{
    position: relative;
    display: flex;
    height: auto;
    width: 90vw;
    height: 60vw;
    max-width: 250px;
    max-height: 350px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: hidden;
}
#card11 .card .imgbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(74, 118, 239);
    z-index: 2;
    overflow: hidden;
}
#card11 .card:hover{
    max-width: 500px;
}
#card11 .card:hover .imgbox{
    width: 50%;
}
#card11 .card .imgbox img{
    width: 90%;
    transition: 0.5s;
}
#card11 .card:hover .imgbox img{
    transform: rotateZ(-35deg) scale(1.1);
}
#card11 .card .content{
    position: absolute;
    top: 0;left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
} 
#card11 .card .content h2{
    font-size: 1.5em;
}
#card11 .card .content > h3{
    font-size: 1.1em;
    text-align: center;
}
#card11 .card .content h3 span{
    color: #03a9f4;
}
#card11 .card .content p{
    text-align: center;
}
#card11 .size{
    width: 90%;
    text-align: left;
    margin: 0.5rem 0;
}
#card11 .sizes{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
}
#card11 .sizes li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: rgb(66, 66, 66);
    font-weight: 600;
    border: 2px solid #0075ab;
    opacity: 0.6;
}
#card11 .sizes li.active{
    background-color: #0075ab;
    color: #fff;
    opacity: 1;
}
#card11 .card .group{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card11 .card .group .price{
    font-weight: 600;
    font-size: 1.1em;
}
#card11 .card .group a{
    padding: 0.5rem 1rem;
    background-color: rgb(74, 118, 239);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width:610px) {
    #card11 .card{
        width: 90vw;
        height: 60vw;
        max-width: 350px;
        max-height: 250px;
    }
    #card11 .card:hover{
        height: 200vw;
        max-height: 500px;
    }
    #card11 .card:hover .imgbox{
        top: 0;left: 0;
        width: 100%;
        height: 50%;
    }
    #card11 .card:hover .content{
        overflow: hidden;
        left: 0;
        top: 50%;
        width: 100%;
        height: 50%;
    }
    #card11 .card:hover .imgbox img{
        width: 60%;
        max-width: 275px;
    }
}
/*card11 style ends*/